@tailwind base;
@tailwind components;
@tailwind utilities;

/* Your custom styles below */
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* You can add additional custom layers if needed */
@layer base, components, utilities {
  /* Custom base styles or overrides */
}
